In [67]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [68]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
450,tt1172991,15000000,4882577,The Company Men,Ben Affleck|Tommy Lee Jones|Chris Cooper|Kevin...,John Wells,"In America, we give our lives to our jobs. It'...",Bobby Walker is living the proverbial American...,104,Drama,Spring Creek Productions|Battle Mountain Films,10/21/2010,6.4,2010
216,tt1837709,60000000,30800231,Winter's Tale,Colin Farrell|Jessica Brown Findlay|Russell Cr...,Akiva Goldsman,This is not a true story. This is true love.,A burglar falls for an heiress as she dies in ...,118,Drama|Fantasy|Mystery|Romance,Village Roadshow Pictures|Weed Road Pictures|W...,2/13/2014,5.9,2014
1370,tt0377818,50000000,110803676,The Dukes of Hazzard,Johnny Knoxville|Seann William Scott|Jessica S...,Jay Chandrasekhar,Cousins. Outlaws. Thrillbillies.,Bo and Luke Duke are southern cousins. In Hazz...,104,Action|Adventure|Comedy,Village Roadshow Pictures|Gerber Pictures|Warn...,8/5/2005,5.2,2005
325,tt1045778,60000000,62357900,Year One,Jack Black|Michael Cera|Olivia Wilde|Oliver Pl...,Harold Ramis,Meet your ancestors,When a couple of lazy hunter-gatherers are ban...,97,Comedy|Adventure,Columbia Pictures|Ocean Pictures|Apatow Produc...,6/18/2009,4.5,2009
638,tt0822832,60000000,244082376,Marley & Me,Owen Wilson|Jennifer Aniston|Eric Dane|Kathlee...,David Frankel,Heel the love,"A newly married couple who, in the process of ...",115,Comedy|Family,Sunswept Entertainment|Dune Entertainment III,12/25/2008,6.8,2008

In [69]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [70]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# добавление колонки profit
data['profit'] = data.revenue - data.budget

# добавление колонки genres_split для разделения жанров
data['genres_split'] = data.genres.str.split('|')

# добавление колонки cast_split для разделения актеров
data['cast_split'] = data.cast.str.split('|')

# добавление колонки production_companies_split для разделения актеров
data['production_companies_split'] = data.production_companies.str.split('|')

# добавление колонки c номерами месяцев
data['release_month'] = pd.to_datetime(data['release_date']).dt.month

# добавление колонки c длинной названия по количеству символов
data['title_len'] = data.original_title.str.len()

# добавление колонки c длинной описания по количеству слов
data['overview_len'] = data.overview.str.split().str.len()

# добавление колонки c комбинациями пар актеров，актеров из исходного списка предварительно сортируем по алфавиту, 
#чтобы одни и те же пары всегда были в одном варианте, т.к. ('a','b') не равно ('b','a')
data['cast_comb2'] = data.cast_split.apply(lambda x: list(combinations(sorted(x), 2)))



#the time given in the dataset is in string format.
#So we need to change this in datetime format

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [71]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'

# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# "+"

# если ответили верно, можете добавить комментарий со значком "+"

In [72]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [73]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).original_title.head(1)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [74]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# "+"

In [75]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [76]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# "+"

In [77]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [78]:
answers['4'] = '2. 110'
# "+"

In [79]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [80]:
answers['5'] = '1. 107'
# "+"

In [81]:
round(data.runtime.median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [82]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [83]:
answers['6'] = '5. Avatar (tt0499549)'
# "+"

# 7. Какой фильм самый убыточный?

In [84]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [85]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# "+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [86]:
data[data.budget < data.revenue].budget.count()

1478

In [87]:
answers['8'] = '1. 1478'
# "+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [88]:
data[(data.release_year == 2008) & (data.revenue == data[data.release_year == 2008].revenue.max())].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [89]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# "+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [90]:
data_2012_2014 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [91]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# "+"

# 11. Какого жанра фильмов больше всего?

In [92]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# создаем список упоминания всех жанров genres_list
genres_list = data.genres_split.sum()

# на оснвоании списка создаем серию и считаем количество каждого уникального значения
pd.Series(genres_list).value_counts().index[0]

'Drama'

In [93]:
answers['11'] = '3. Drama'
# "+"

ВАРИАНТ 2

In [94]:
# создадим список, чтобы на основе него создать счетчик.
genres_list = []
for x in data.genres_split:
    genres_list +=x
    
# присваиваем переменной пару наиболее часто встречающийся элемента счетчика и количество раз, которое этот элемент встречается 
c = Counter(genres_list).most_common(1)

# выводим наибобее встречающийся элемент
c[0][0]

'Drama'

In [95]:
answers['11'] = '3. Drama'
# "+"

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [96]:
# создаем список упоминания всех жанров в фильмах, которые были прибыльными, genres_list_profit
genres_list_profit = data[data.profit > 0].genres_split.sum()

# на оснвоании списка создаем серию и считаем количество каждого уникального значения
pd.Series(genres_list_profit).value_counts().index[0]

'Drama'

In [97]:
answers['12'] = '1. Drama'
# "+"

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [98]:
data.groupby('director').sum().revenue.sort_values(ascending=False).index[0]

'Peter Jackson'

In [99]:
answers['13'] = '5. Peter Jackson'
# "+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [100]:
#формируем список режисеров, которые входили в один из фильмов жанра 'Action'
action_directors = data[data.genres.str.contains('Action')].director.str.split('|').sum()

#создаем серию на основе предыдущего списка и применяем метод value_counts(), берем первый индекс
pd.Series(action_directors).value_counts().index[0]

'Robert Rodriguez'

In [101]:
answers['14'] = '3. Robert Rodriguez'
# "+"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [102]:
# создаем датафрейм, в котором используем фильмы 2012 г. и взрываем столбец cast_split
data_cast_explode2012 = data[data.release_year == 2012].explode('cast_split')

# группируем по актеру data_cast_explode2012 и суммируем значения, отбираем столбец с выручкой, сортируем по убыванию
# и берем первый index
data_cast_explode2012.groupby('cast_split').sum().revenue.sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [103]:
answers['15'] = '3. Chris Hemsworth'
# "+"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [104]:
# создаем датафрейм, в котором используем фильмы c бюджетом выше среднего и взрываем по актерам
data_high_budget = data[data.budget >  data.budget.mean()].explode('cast_split')

# группируем с применением меода count()
data_high_budget.groupby('cast_split').count().revenue.sort_values(ascending=False).index[0]

'Matt Damon'

In [105]:
answers['16'] = '3. Matt Damon'
# "+"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [106]:
data_cast_genres_explode = data.explode('genres_split').explode('cast_split')
data_cast_genres_explode[data_cast_genres_explode.cast_split == 'Nicolas Cage'].genres_split.value_counts().index[0]

'Action'

In [107]:
answers['17'] = '2. Action'
# "+"

# 18. Самый убыточный фильм от Paramount Pictures

In [108]:
# фильтруем строки, которые содержат название компании Paramount Pictures и находим минимальное значение в столбце profit среди строк, которорые содержать название компании Paramount Pictures
data[(data.production_companies.str.contains('Paramount Pictures')) & (data[data.production_companies.str.contains('Paramount Pictures')].profit == data[data.production_companies.str.contains('Paramount Pictures')].profit.min())].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [109]:
answers['18'] = '1. K-19: The Widowmaker'
# "+"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [110]:
# группируем датафрейм по годам, суммируем значения,сортируем по столбцу revenue, берем индекс первой строки)
data.groupby('release_year').sum().sort_values('revenue', ascending=False).index[0]

2015

In [111]:
answers['19'] = '5. 2015'
# "+"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [112]:
# Вариант 1
# отосртировываем строки, которые содержат в стобце production_companies название Warner Bros, 
# группируем по году релиза, суммируем, сортируем по значению столбец profit 
data[data.production_companies.str.contains('Warner Bros', na=False)].groupby('release_year').sum().sort_values('profit', ascending=False)

,budget,revenue,runtime,vote_average,profit,release_month,title_len,overview_len
release_year,,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,89,176,670
2007,982000000,3183675217,1721,95.4,2201675217,114,273,817
2008,916000000,3050595031,1366,72.0,2134595031,81,149,514
2010,1034000000,3008712985,1421,79.6,1974712985,92,201,875
2011,974000000,2845393682,1248,68.3,1871393682,78,220,554
2003,890000000,2745493377,1085,56.7,1855493377,81,178,595
2009,915500000,2737954136,1305,67.9,1822454136,78,158,562
2013,963500000,2599953400,1100,59.9,1636453400,47,114,711
2004,1100000000,2731933725,1624,78.7,1631933725,91,194,760
2005,861000000,2412980298,1193,63.0,1551980298,78,170,581
2001,923000000,2266545668,1571,83.6,1343545668,97,222,768
2012,611500000,1869520056,579,30.0,1258020056,33,70,274
2002,680000000,1702709901,1281,70.6,1022709901,69,189,525
2015,820800003,1691168351,1358,75.9,870368348,82,137,601
2006,901000000,1521170743,1504,81.0,620170743,115,178,567
2000,572900000,1025531386,1333,68.0,452631386,81,162,546

In [113]:
# Вариант 2 (дает ошибку, т.к. задваивает значение прибыли для случая, когда название компании встречается дважды в одной и той же строке "Warner Bros.|Warner Bros. Interactive Entertainment|Rob Thomas Productions")
# Группируем по году и компании, суммируем значение, индекс превращаем в стобец
data_companies_explode = data.explode('production_companies_split').groupby(by = ['release_year', 'production_companies_split']).sum().reset_index()
# фильтруем строки, содержащие 'Warner Bros', суммируем значения по убыванию, берем первый индекс 
data_companies_explode[data_companies_explode.production_companies_split.str.contains('Warner Bros')].groupby('release_year').sum().sort_values('profit', ascending=False).index[0]

2014

In [114]:
# Вариант не для ответа. Если нужно четкое соответствие компании Warner Bros. и исключить другие компании студии.
# код аналогичен предыдущему, но отбор при строгом соответствии 'Warner Bros.'
data_companies_explode = data.explode('production_companies_split').groupby(by = ['production_companies_split', 'release_year']).sum().reset_index()
data_companies_explode[data_companies_explode.production_companies_split == 'Warner Bros.'].groupby('release_year').sum().sort_values('profit', ascending=False)

,budget,revenue,runtime,vote_average,profit,release_month,title_len,overview_len
release_year,,,,,,,,
2007,947000000,3114367993,1630,90.3,2167367993,107,259,768
2008,916000000,3050595031,1366,72.0,2134595031,81,149,514
2014,887600000,2773903827,1476,81.4,1886303827,87,162,642
2011,974000000,2845393682,1248,68.3,1871393682,78,220,554
2003,890000000,2745493377,1085,56.7,1855493377,81,178,595
2010,954000000,2807128844,1341,74.5,1853128844,80,192,779
2009,875500000,2708981628,1216,63.1,1833481628,70,152,529
2004,1050000000,2725125175,1536,73.8,1675125175,90,180,740
2013,963500000,2599953400,1100,59.9,1636453400,47,114,711
2005,861000000,2412980298,1193,63.0,1551980298,78,170,581
2001,778000000,2206174853,1270,66.3,1428174853,75,187,587
2012,611500000,1869520056,579,30.0,1258020056,33,70,274
2002,515000000,1587248589,841,46.5,1072248589,38,137,328
2015,820800003,1691168351,1358,75.9,870368348,82,137,601
2006,851000000,1465989614,1416,75.5,614989614,108,165,508
2000,543900000,1015205068,1138,57.5,471305068,70,144,454

In [115]:
answers['20'] = '1. 2014'
# "+"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [116]:
# считаем сколько раз встречается каждый месяц в фильмах
data.release_month.value_counts().index[0]

9

In [117]:
answers['21'] = '4. 9'
# "+"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [118]:
# 1-й способ
data[(data.release_month <=8) & (data.release_month >=6)].release_month.count()

450

In [119]:
# 2-й способ
data.query('release_month in [6, 7, 8]').release_month.count()

450

In [120]:
answers['22'] = '2. 450'
# "+"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [121]:
# сортируем зимние месяцы, группируем по режисеру, считаем количество случаев, сортируем дата фрейм в обратном порядке,
# берем перый индекс.
data.query('release_month in [12, 1, 2]').groupby('director').count().sort_values(by=['imdb_id'], ascending=False).index[0]

'Peter Jackson'

In [122]:
answers['23'] = '5. Peter Jackson'
# "+"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [123]:
# взрываем столбец production_companies_split, группируем по названию компании, усредняя показатель, сортируем по длинне названия фильма
data.explode('production_companies_split').groupby('production_companies_split').mean().sort_values(by='title_len', ascending=False).index[0]

'Four By Two Productions'

In [124]:
answers['24'] = '5. Four By Two Productions'
# "+"

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [125]:
# взрываем столбец production_companies_split, группируем по названию компании, усредняя показатель, сортируем по длинне описания фильма
data.explode('production_companies_split').groupby('production_companies_split').mean().sort_values(by='overview_len', ascending=False).index[0]

'Midnight Picture Show'

In [126]:
answers['25'] = '3. Midnight Picture Show'
# "+"

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [127]:
# Способ 1, через квантиль.
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [128]:
# Способ 2, сортируем по рейтингу, выводим 1% от общего количества фильмов
data.sort_values('vote_average', ascending=False).original_title.head(int(data.count().vote_average/100))

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

In [129]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [133]:
# взрываем столбец с парами актеров, группируем по парам актеров, 
# считаем количество случаев для каждой пары, сортируем по убыванию.
data.explode('cast_comb2').groupby('cast_comb2').count().cast.sort_values(ascending=False)

cast_comb2
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Jane Fonda, Jennifer Lopez)           1
(Jane Alexander, Ty Burrell)           1
(Jane Alexander, Robert Downey Jr.)    1
(Jane Alexander, Nicole Kidman)        1
(50 Cent, Adewale Akinnuoye-Agbaje)    1
Name: cast, Length: 17943, dtype: int64

In [131]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# "+"

ВАРИАНТ 2

In [187]:
# !!!!исполнение около 2 мин
# Применим, если столбец комбинаций создан без предварительной сортировки актеров по алфавиту 
# и возможны разные пары с теми же сочетаниями актеров

# создаем список с уникальными парами актеров из столбца 'cast_comb2'
cast_pairs = data.explode('cast_comb2').groupby('cast_comb2').count().reset_index().cast_comb2

# создаем список списков, в котором списки второго уровня типа [пара, количество фильмов с данной парой]
data_list = []
for pair in cast_pairs:
    quantity = data[(data.cast.str.contains(pair[0])) & (data.cast.str.contains(pair[1]))].cast.count()
    data_list.append([pair, quantity])

# создаем датафрейм на основе предыдущего списка, в котором пары сортируем по количеству фильмов, в которых она участвовала
cast_pairs_df = pd.DataFrame(data_list, columns=['cast_pairs', 'occurrences']).sort_values(by='occurrences', ascending=False)
cast_pairs_df

                                 cast_pairs  occurrences
9143            (Emma Watson, Rupert Grint)            8
7023       (Daniel Radcliffe, Rupert Grint)            8
7007        (Daniel Radcliffe, Emma Watson)            8
10754   (Helena Bonham Carter, Johnny Depp)            6
3074             (Ben Stiller, Owen Wilson)            6
...                                     ...          ...
6118   (Christopher Walken, Radha Mitchell)            1
6119   (Christopher Walken, Robin Williams)            1
6120   (Christopher Walken, Rosario Dawson)            1
6121     (Christopher Walken, Sam Rockwell)            1
17942         (Zachary Quinto, Zoe Saldana)            1

[17943 rows x 2 columns]

ВАРИАНТ 3

In [188]:
# !!!!исполнение около 2 мин
# Применим, если нужно обойтись без создания дополнительного столбца

# создаем список с уникальными парами актеров из столбца 'cast'
cast_pairs = []
for x in data.cast:
    # актеров предварительно сортируем по алфавита, чтоб уменьшить количество пар
    for y in list(combinations(sorted(x.split('|')), 2)):
        if y not in cast_pairs:
            cast_pairs.append(y)

# создаем список списков, в котором списки второго уровня типа [пара, количество фильмов с данной парой]            
data_list = []
for pair in cast_pairs:
    quantity = data[(data.cast.str.contains(pair[0])) & (data.cast.str.contains(pair[1]))].cast.count()
    if quantity > 0:
        data_list.append([pair, quantity])
        
# создаем датафрейм на основе предыдущего списка, в котором пары сортируем по количеству фильмов, в которых она участвовала
cast_pairs_df = pd.DataFrame(data_list, columns=['cast_pairs', 'occurrences']).sort_values(by='occurrences', ascending=False)
cast_pairs_df

                                cast_pairs  occurrences
2395       (Daniel Radcliffe, Emma Watson)            8
2400           (Emma Watson, Rupert Grint)            8
2397      (Daniel Radcliffe, Rupert Grint)            8
3686   (Helena Bonham Carter, Johnny Depp)            6
1290            (Ben Stiller, Owen Wilson)            6
...                                    ...          ...
6250           (Bryan Brown, Hugh Jackman)            1
6251          (Bryan Brown, Nicole Kidman)            1
6252           (David Wenham, Essie Davis)            1
6254         (David Wenham, Nicole Kidman)            1
17942            (Susan Ward, Tess Harper)            1

[17943 rows x 2 columns]

# Submission

In [142]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. 9',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [189]:
# и убедиться что ни чего не пропустил)
len(answers)

27